.sobre__titulo {
    color: #8d0606;
    font-family: Pasifico, cursive;
    
}

@media screen and (min-width: 0){
    .sobre__titulo {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 768px){
    .sobre__titulo {
        font-size: 3rem;
    }
}